body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: chartreuse; */
}
.main {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#root {
    /* height: 100vh;
    width: 100vw; */
    overflow: hidden;
}
.background-refresh {
    /* background-color: aqua; */
    width:20vw;
    margin-right: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 2vw;
    /* margin-bottom: 2vw; */
}
.background-refresh button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2vw;
    color: white;
}
.todo {
    font-family: 'Montserrat',sans-serif;
    width: 20vw;
    /* background-color: chartreuse; */
    margin-right: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    display: flex;
}
.todo .todobutton {
    font-size: 1.5vw;
    font-weight: bolder;
    margin-right: -2vw;
}
.todo button, .todo input {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent;
    outline: none;
}
.todo button {
    border:none;
}
.todo input {
    border: none;
    border-bottom: solid white;
}
.todolist {
    background-color: rgb(255, 255, 255,0.5);
    width: 20vw;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.todolist h3, .todolist form {
    align-items: center;
    text-align: center;
}
.todolist input {
    width: 8vw;
}
.tdl ul li {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
}
.quote {
    font-family: 'Montserrat',sans-serif;
    width:60vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.writing {
    font-size: 1vw;
    color: white;
}
.quote button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1vw;
    color: white;
}
.bottom {
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
    /* background-color: crimson; */
    width: 100vw;
    position: relative;
    z-index: 2;
    height: 30vh;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* background-color: darkgreen; */
    width: 100vw;
    position: relative;
    z-index: 1;
}
.weather-parent {
    /* background-color: rgb(255, 255, 255,0.5); */
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5vw;
    margin: 1vw;
}
.weather-parent button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2vw;
    color: white;
}
.weather-child {
    margin: 1vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.weather-child #city-name {
    font-size: 2.5vh;
}
.weather-child img {
    margin-bottom: 0;
    /* background-color: blanchedalmond; */
}
.weather-child h3, .weather-child p {
    /* background-color: blueviolet; */
    margin: 0;
    padding: 0;
    text-align: center;
}
.weather-child .children1 {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    justify-content: center;
    align-items: baseline;
    /* background-color: blue; */
}
.weather-child .children2 input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid white;
    border-radius: 5px;
    font-size: 1vw;
}
.weather-child .children2 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: baseline;
    height: inherit;
    height: 100%;
    /* background-color: aqua; */
    /* padding-top: 2vw; */
}
.weather-child .children2 input{
    max-width: 8vw;
    color: white;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:45vh;
    /* background-color: cornflowerblue; */
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 0;
}
.search {
    margin: 2vw;
    font-size: 4vw;
}
.search input {
    font-size: 1.5vw;
}
.time-parent {
    font-size: 1.5vw;
    width: 50vw;
    /* background-color: antiquewhite; */
    margin: 0;
}
.time-parent input {
    font-size: 1.5vw;
}
.pomodoro {
    /* background-color: rgb(255, 255, 255,0.1);
     */
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 50vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vw;
}
.pomodoro .big {
    /* background-color: blanchedalmond; */
    padding: 0;
    margin: 0;
    height: 10vw;
}
.pomodoro .big h1 {
    display: hidden;
    font-size: 6vw;
}
.pomodoro i {
    color: white;
}
.pomodoro button {
    background-color: transparent;
    border: none;
    font-size: larger;
}
.contorl1 {
    /* background-color: darkgray; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
.pomodoro div {
    margin: 0.5vw;
}
.pomodoro .big {
    margin-bottom: -1vw;
    font-size: larger;
}
.pomodoro .child1 {
    display: flex;
    /* background-color: aqua; */
    /* height: 60vh; */
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.pomodoro .child1 .menu {
    /* background-color: yellowgreen; */
    display: flex-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 30vw; */
    padding: 0;
    height: max-content;
    margin-top:1vw;
}
.menu div {
    width:auto;
    /* background-color: beige; */
    display: inline-block;
}
.customtimer {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.shuffle {
    background-color:transparent;
    font-size: 2vw;
    border: none;
    color: white;
    margin: 0;
}
.search {
    /* background-color: darkblue; */
    margin: 0;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search button {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2vw;
}
.search input {
    background-color:rgb(255, 255, 255,0.5);
    outline: none;
    border: solid;
    border: white;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
}
.customtimer input {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid;
    border-color: white;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.time-child-1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: white;
}
.time-child-1, .time-child-2 {
    margin: 0;
}
.time-child-2 input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid;
    border-color: white;
    margin-bottom: 1vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}
.time-child-2 button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}
.time-child-2 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: white;
}
/* .pomodoro .child1 .menu div {
    width:10vw;
    display: inline-block;
    background-color: brown;
} */
/* .pomodoro .customtimer {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pomodoro .customtimer button {
    margin-right: 1vw;
}
.pomodoro .customtimer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */